body {
    margin: 0.5em;
    font-family: BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    line-height: 1.5;
}
pre {
    background-color: color(var(--background) alpha(0.5));
}
.code,.code-block,.blockquote {
    background-color: color(var(--background) alpha(0.8));
}
pre,.code,.code-block {
    font-family: monospace;
}
.code {
    display: inline;
    padding: 0, 0.3em, 0, 0.3em;
    border-radius: 0.2em;
    border-style: solid;
}
pre,.code-block,.blockquote {
    display: block;
    padding : 0.5em;
    margin: 0.3em;
    border-radius: 0.3em;
}
.code-block {
}
.blockquote {
}
ul,ol {
    margin: 1em;
    padding: 0;
}